<h1>Dear Haryali user, <%= @lead.name %></h1>
<p>
  On <strong><%= @lead.created_at.strftime("%d-%m-%Y") %></strong>, you requested the plantation of <strong><%= @lead.quantity %> "<%= @lead.plant.name %>"</strong> at <strong><%= @lead.location.address %></strong>.<br/>
</p>
<p>
  This email is to inform you that payment for this request has been received.<br/>
</p>
<%# image showing 'your plants' tab with email field highlighted %>
<p>Thank you for using Haryali and have a great day!</p>
<%# haryali logo %>
<%# haryali contact info %>
