<h1>Dear Haryali user, <%= @lead.name %></h1>
<p>
  We have received your request for <strong><%= @lead.quantity %> <%= @lead.plant.name %></strong> at <strong><%= @lead.location.address %></strong>.<br/>
</p>
<p>
  Our representative will contact you shortly, to confirm your order.<br/>
</p>
<p>
  To explore our site, just follow this link: <%= @url %>.
</p>
<p>Thank you for using Haryali and have a great day!</p>
<%# haryali logo %>
<%# haryali contact info %>
<%# this is an auto generated email? %>
