<p>
  <strong>Name:</strong>
  <%= @lead.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @lead.contact %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lead.email %>
</p>

<p>
  <strong>Plant:</strong>
  <%= @lead.plant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @lead.address %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @lead.quantity.to_s %>
</p>

<p>
  <strong>Payment Type:</strong>
  <%= @lead.payment_type %>
</p>


